html,
body {
  height: 100%;
  overflow: hidden;
}
#container {
  background-color: antiquewhite;
  color: black;
}
#preview,
#source {
  padding: 22px;
}
.layout_split {
  display: flex;
  height: 100%;
}
.item_split {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.item_split.left {
  background-color: #f0f0f0;
}
.item_split.right {
  background-color: #e0e0e0;
}
@media (max-width: 768px) {
  .layout_split {
    flex-direction: column; 
  }
}