body {
  padding: 0;
}
#container {
  /* border: 2px solid whitesmoke; */
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: bisque;
  height: 100vh;
  flex-wrap: wrap;
  justify-content: space-between;
}
#other {
  /* border: 2px solid silver; */
  height: 50%;
  background-color: brown;
  flex-grow: 1;
}