@import url("./theme.css");
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  height: 100vh;
}
body {
  margin: 0;
  background: var(--bg-dark);
  width: 100vw;
  height: 100vh;
  color: var(--fg-dark);
  font-family: var(--ff-mono_fira);
  overflow: hidden;
}
