@import url("./theme.css");

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  margin: 0;
  font-family: var(--ff-mono_fira);
  background: var(--bg-dark);
  color: var(--fg-dark);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
