html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  font-family:
    "Fira Mono", "Consolas", "Menlo", "Monaco", "Liberation Mono",
    "Courier New", monospace;
  background: #222;
  color: #eee;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
}