@import url("./global.css");
@import url("./console.css");


body {
  margin: 0;
  padding: 5%;
  background-color: gray;
  color: whitesmoke;
}
*, *::before, *::after {
  box-sizing: border-box;
}

#console_box {
  position: relative;
  width: 100%;
  /* bottom: 0;
  left: 0;
  height: 100%; */
  /* min-height: 50vh; */
  height: 50vh;
  height: 50%;
  background-color: silver;
  color: black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  /* border: 2px solid silver; */
}
  #console_bar {
    height: 3em;
    background-color: #181c20;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 1px solid silver;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    }
    .console_bar__item {
      /* border: 2px solid silver; */
      height: 100%;
      /* min-width: 32px; */
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      justify-content: center;
      }
      .console_icon {
        display: inline-block;
        width: 24px;
        height: 24px;
        background-position: center;
        background-repeat: no-repeat;
        
      }
      .i_console {
        background-image: url('./code_24dp_FFFFFF_FILL0_wght400_GRAD0_opsz24.svg');
      }
      .i_toggle {
        background-image: url('./arrow_drop_down_24dp_FFFFFF_FILL0_wght400_GRAD0_opsz24.svg');
      }
      .i_toggle:hover {
        opacity: 0.8;
        cursor: pointer;
      }
      .i_toggle.hide {
        transform: rotate(180deg);
        /* background-image: url('data:image/svg/xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.8543 11.9741L16.2686 10.5599L12.0259 6.31724L7.78327 10.5599L9.19749 11.9741L11.0259 10.1457V17.6828H13.0259V10.1457L14.8543 11.9741Z" fill="silver"/><path fill-rule="evenodd" clip-rule="evenodd" d="M1 19C1 21.2091 2.79086 23 5 23H19C21.2091 23 23 21.2091 23 19V5C23 2.79086 21.2091 1 19 1H5C2.79086 1 1 2.79086 1 5V19ZM5 21H19C20.1046 21 21 20.1046 21 19V5C21 3.89543 20.1046 3 19 3H5C3.89543 3 3 3.89543 3 5V19C3 20.1046 3.89543 21 5 21Z" fill="silver"/></svg>'); */
      }
      
      .console_bar__item.L {
        width: 10%;
        justify-content: flex-start;
        }
      .console_bar__item.C {
        flex-grow: 1;
        }
      .console_bar__item.R {
        width: 20%;
        justify-content: flex-end;
        }

  #console_output {

    background-color: #181c20;
    color: white;
    height: calc(100% - 6em);
    }
    #console_out {
      width: 100%;
      height: 100%;
    }
  #console_input {
    background-color: #181c20;
    color: white;
    height: 3em;
    }
    #console_in {
      /* border: 2px solid teal; */
      position: relative;
      width: 100%;
      height: 100%;
      /* display: none; */
    }

/* event */
#console_box.hide > #console_output,
#console_box.hide > #console_input {
  display: none;
}
#console_box.hide {
  height: 3em;
}
#console_box.hide > #console_bar {
  border-bottom: none;
}